@import 'libs/mynormalize';

@import 'base/variables';
@import 'base/animations';


* {
	font-family: 'Inter', sans-serif;
}

body.lock {
	overflow: hidden;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/result';
@import 'blocks/features';


@import 'blocks/media';