.btn {
	width: 136px;
	height: 52px;
	background: $main-color;
	border-radius: 6px;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #ffffff;
	&_green {
		margin-top: 34px;
		width: 180px;
		height: 66px;
		background: $second-color;
		border-radius: 6px;
		font-weight: 500;
		font-size: 17px;
		line-height: 21px;
		color: $main-color;
	}
}
