.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 110px 50px;
	&__left {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__brand {
		margin-left: 7px;
		font-weight: 600;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: $main-color;
		&:hover {
			color: $second-color;
			transition: .3s all;
		}
	}
	&__menu {
		display: flex;
		margin-left: 110px;
	}
	&__item {
		padding-right: 60px;
		&:last-child {
			padding-right: 0;
		}
	}
	&__link {
		position: relative;
		// padding-right: 60px;
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		color: $main-color;
		&:hover {
			color: $second-color;
			transition: .3s all;
			&:before {
				opacity: 1;
				bottom: -3px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			height: 1px;
			bottom: 0px;
			left: 0;
			width: 100%;
			background-color: $second-color;
			transition: 0.2s ease-in;
			opacity: 0;
		}
	}
	&__sing {
		margin-right: 45px;
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		color: $main-color;
		&:hover {
			color: $second-color;
			transition: .3s all;
		}
	}
	&__close {
		display: none;
	}
}
