@media (min-width: 1700px) {
	.main {
		&__img {
			left: 750px;
		}
	}
}
@media (min-width: 1900px) {
	.main {
		&__img {
			left: 900px;
		}
	}
}

@media (max-width: 1450px) {
	.header {
		margin: 25px 20px 50px;
		// &__link {
		// 	padding-right: 30px;
		// }
	}
	.main {
		&__img {
			left: 400px;
		}
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.header {
		max-width: 960px;
		margin: 25px auto 50px;
		&__menu {
			margin-left: 50px;
		}
		&__link {
			padding-right: 15px;
		}
		&__sing {
			margin-right: 25px;
		}
	}
	.main {
		margin: 130px 0 140px;
		&__title {
			font-size: 46px;
			line-height: 55px;
		}
		&__subtitle {
			line-height: 26px;
		}
		&__img {
			left: 390px;
			top: -70px;
			max-width: 60%;
		}
	}
	.btn {
		width: 130px;
		height: 50px;
		&_green {
			width: 150px;
			height: 55px;
		}
	}
	.result {
		&__title {
			line-height: 48px;
		}
	}
	.downloads__title,
	.rating__title {
		font-size: 58px;
		line-height: 63px;
	}
	.downloads__subtitle,
	.rating__subtitle {
		line-height: 26px;
	}
	.features {
		// margin-top: 100px;
		margin: 100px auto 100px;
		&__block {
			margin-bottom: 85px;
		}
		&__title {
			font-size: 46px;
			line-height: 60px;
		}
		&__subtitle {
			line-height: 28px;
		}
		&__header {
			line-height: 27px;
		}
		&__text {
			line-height: 24px;
		}
		&__more {
			margin-top: 25px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.header {
		margin: 25px 35px 40px;
		&__menu {
			display: none;
		}
	}
	.main {
		margin: 40px 0 60px;
		&__left {
			text-align: center;
			// display: block;
			// margin: 0 auto;
		}
		&__title {
			margin: 0 auto;
			// text-align: center;
		}
		&__subtitle {
			margin: 20px auto auto auto;
			// text-align: center;
		}

		&__img {
			position: relative;
			top: auto;
			left: auto;
		}
		&__right {
			margin-top: 40px;
			text-align: center;
		}
	}
	.hamburger {
		display: block;
		margin-left: 20px;
		padding-top: 5px;
		// height: 2.31px;
		// position: absolute;
		// left: 120px;
		cursor: pointer;
		// &:hover span {
		// 	background: $main-color;
		// 	transition: all 0.5s;
		// }
		&__span {
			display: block;
			height: 3px;
			width: 48px;
			margin-bottom: 5px;
			background-color: #273551;
			&_min {
				float: right;
				width: 33px;
			}
		}
	}
	.result {
		&__wrap {
			flex-direction: column;
			align-items: center;
		}
		&__title {
			line-height: 44px;
			max-width: 502px;
			text-align: center;
		}
		&__number {
			margin-top: 22px;
			// justify-content: space-between;
		}
		&__downloads {
			margin-right: 75px;
		}
		&__img {
			max-width: 13%;
		}
	}
	.features {
		margin: 50px auto 50px;
		&__title {
			font-size: 44px;
			line-height: 49px;
		}
		&__subtitle {
			margin-bottom: 40px;
			line-height: 25px;
		}
		&__blocks {
			flex-wrap: wrap;
			justify-content: space-evenly;
			text-align: center;
		}
		&__block {
			margin-bottom: 48px;
		}
		&__header {
			line-height: 25px;
			margin: 20px 0 12px;
		}
		&__text {
			line-height: 22px;
		}
		&__more {
			margin-top: 20px;
		}
	}
}

// @media (max-width: 768px) {
// 	.container {
// 		max-width: 540px;
// 	}
// }

// @media (max-width: 576px) {
// 	.container {
// 		width: 100%;
// 		padding: 0 10px;
// 	}
// }
